/* BLOG SEARCH FIRST START  */
.search{
    border-radius: 50%;
}
.blog-search{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    background: #f8f8f8;
    padding-bottom: 5rem;
    width: 100%;
	background: linear-gradient(to bottom, #1263c685,
	#0b5db48e, #114ec08e,#0648ffb3, #184cd2),
	linear-gradient(to right, #0648ff5c, #0558bdb9, #0b5db485, #1263c680),
	linear-gradient(to bottom, #00000047, #00000055),
	url("../img/i7.jpg") center no-repeat;
	background-size: cover;
	margin-top: -6rem;
	display: flex;
	align-items: center;
	justify-content: center;
    padding-top: 8rem;
}
.blog-search-container{
    display: flex;
    flex-direction: column;    
    width: 80%;
    z-index: 999;
}
.blog-search-header{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.blog-search-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.blog-search-title h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--light);
}
.blog-search-title p{
    display: flex;
    justify-content: center;
}
.blog-search-title p i{
    font-size: 1.1rem;
    color: cyan;
}
.blog-search-title p span{
    position: relative;
    margin: 0 2rem;
    width: 5rem;
    height: 1rem;
}
.blog-search-title p span:first-child::before,
.blog-search-title p span:last-child::before{
    content: "";
    position: absolute;
    top: 40%;
    left: 10%;
    height: .06rem;
    width: 100%;
    background: cyan;
}
.blog-search-title p span:first-child::after,
.blog-search-title p span:last-child::after{
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    height: .06rem;
    width: 100%;
    background: cyan;
}
.blog-search-form{
    display: flex;
    align-items: center;
    border-radius: .5rem;
    background: var(--light);
    width: 30%;
    height: fit-content;
    padding: .2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.07);
}
.blog-search-form label{
    padding: .4rem 0 .4rem .4rem;
    font-size: 1.6rem;
}
.blog-search-form input,
.blog-search-form button{
    border: none;
    outline: none;
    padding: .4rem;
    font-size: 1rem;
    font-weight: 600;
    margin: .3rem;
    border-radius: .3rem;
}
.blog-search-form input{
    width: 30rem;
}
.blog-search-form button{
    padding: .6rem 1.2rem;
    background: var(--secondary-color);
    cursor: pointer;
    transition: .2s;
}
.blog-search-form button:hover{
    background: var(--secondary-color-hover);
    padding: .6rem 1.3rem;
}

.blog-search-body{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.no-blog-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--light);
}
.no-blog-list h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
.no-blog-list h3::after{
    content: "";
    width: 6rem;
    height: .3rem;
    position: absolute;
    bottom: -.5rem;
    left: 0;
    background: cyan;
    transition: .3s;
    border-radius: .5rem;
}
.no-blog-list h4{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .5rem;
}
.no-blog-list ul li{
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: .5rem;
    margin-left: 1rem;
}
.no-blog-list ul li i{
    color: cyan;
}
.blog-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.blog-list .outer-box{
    width: 32%;
}
.blog-list .box{
    width: 100%;
    margin-bottom: 2rem;
    background: transparent;
    box-shadow: 2px 2px 1.4rem rgba(0, 0, 0, 0.11);
    overflow: hidden;
    position: relative;
    transition: .3s ease;
    top: 0;
}
.blog-list .box:hover{
    box-shadow: 2px 2px 1.7rem rgba(0, 0, 0, 0.15);
    top: -.3rem;
}
.news-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.news-boxes .outer-box{
    width: 32%;
}
.news-boxes .box{
    width: 100%;
    margin-bottom: 2rem;
    background: transparent;
    box-shadow: 2px 2px 1.4rem rgba(0, 0, 0, 0.11);
    overflow: hidden;
    position: relative;
    transition: .3s ease;
    top: 0;
}
.news-boxes .box:hover{
    box-shadow: 2px 2px 1.7rem rgba(0, 0, 0, 0.15);
    top: -.3rem;
}
.news-img{
    position: relative;
    width: 100%;
    height: 15rem;
    overflow: hidden;
}
.news-img::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #0000005f;
	z-index: 99;
}
.news-img a{
    width: 100%;
    height: 15rem;
    display: inline-block;
}
.news-img .news-type{
    position: absolute;
    top: 1.7rem;
    right: 1rem;
}
.news-img img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    scale: 1;
    transition: .3s;
}
.news-boxes .box:hover .news-img img{
    transform: translateX(-50%) scale(1.1);
}
.news-desc .top-desc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: .5rem 1rem;
    color: var(--light);
}
.news-desc h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 1rem;
    color: var(--light);
}
.news-desc h4{
    font-weight: 500;
    margin-top: .4rem;
    opacity: .6;
    margin: .5rem 1rem;
    color: var(--light);
}
.news-desc .buttons{
    margin-top: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: .1rem solid #bbb;
    padding: 1rem;
}
.news-desc button {
    position: relative;
    display: inline-block;
    padding: 14px 26px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
	margin-right: 2rem;
    font-weight: 500;
}

  
  .news-desc button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .news-desc button span {
    position: absolute;
    display: block;
  }
  
  .news-desc button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .news-desc button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .news-desc button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .news-desc button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

@media screen and (max-width: 1400px){
    .news-img{
        height: 12rem;
    }
}
@media screen and (max-width: 1200px){
    .news-container{
        width: 90%;
    }
    .news-img{
        height: 12rem;
    }
    .news-desc h3{
        font-size: 1.4rem;
        margin: 0 .8rem;
    }
    .news-desc h4{
        font-weight: 500;
        margin-top: .2rem;
        margin: .3rem .8rem;
    }
}
@media screen and (max-width: 992px){
    .news-container{
        width: 90%;
    }
    .news-boxes{
        justify-content: space-around;
    }
    .news-boxes .outer-box{
        width: 49%;
    }
}
@media screen and (max-width: 768px){
    .news-container{
        width: 95%;
    }
    .news-desc h4{
        display: none;
    }
}
@media screen and (max-width: 576px){
    .news-boxes{
        justify-content: center;
    }
    .news-desc h4{
        display: block;
    }
    .news-boxes .outer-box{
        width: 98%;
    }
    .news-img{
        height: 15rem;
    }
}
.news-desc .buttons .share-span{
    font-weight: 600;
    padding: .6rem .8rem;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: .3s;
    border: .1rem solid #ccc;
}
.news-desc .buttons .share-span:hover{
    background: var(--primary-color);
}
.news-desc .buttons .share-span i{
    color: var(--light);
}
.news-desc .buttons .share-span .news-share-icons{
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 72, 255, 0.647);
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    /* display: none; */
    z-index: -1;
    transition: .3s;
}
.news-desc .buttons .share-span:hover .news-share-icons{
    opacity: 1;
    z-index: 99;
    bottom: 95%;
    /* display: flex; */
}
.news-desc .buttons .share-span .news-share-icons a{
    font-size: 1.2rem;
    margin: .5rem;
    color: var(--light);
    transition: .2s;
}
@media screen and (max-width: 1400px){
    .news-img{
        height: 12rem;
    }
}
@media screen and (max-width: 1200px){
    .news-img{
        height: 12rem;
    }
    .news-desc h3{
        font-size: 1.4rem;
        margin: 0 .8rem;
    }
    .news-desc h4{
        font-weight: 500;
        margin-top: .2rem;
        margin: .3rem .8rem;
    }
}
@media screen and (max-width: 992px){
    .blog-search-container{
        width: 90%;
    }
    .blog-list{
        justify-content: space-around;
    }
    .blog-list .outer-box{
        width: 49%;
    }
}
@media screen and (max-width: 768px){
    .blog-search-container{
        width: 95%;
    }
    .news-desc h4{
        display: none;
    }
}
@media screen and (max-width: 576px){
    .blog-list{
        justify-content: center;
    }
    .news-desc h4{
        display: block;
    }
    .blog-list .outer-box{
        width: 98%;
    }
    .news-img{
        height: 15rem;
    }
}
/* BLOG SEARCH FIRST END  */