{% extends 'base.html' %}
{% load static %}

{% block title %}Frequently Asked Questions · Uncharted Pages{% endblock title %}

{% block additional_header %}
<link rel="stylesheet" href="{% static 'css/faq.css' %}">
<meta name="keywords" content="Uncharted Pages">
<meta name="description" content="Frequently Asked Questions. Let the Pages Take You Places.">
<meta name="robots" content="nofollow" />
<meta name="og:title" content="Uncharted Pages|Frequently Asked Questions" />
<meta name="og:description" content="Frequently Asked Questions. Let the Pages Take You Places." />
<meta name="og:image" content="https://unchartedpages.pythonanywhere.com/static/img/logo.png" />
<meta name='og:type' content="website">
<meta name='og:site_name' content="Uncharted Pages">
<meta name='og:url' content="https://unchartedpages.pythonanywhere.com/">
<meta name="twitter:title" content="Uncharted Pages|Frequently Asked Questions" />
<meta name="twitter:description" content="Frequently Asked Questions. Let the Pages Take You Places." />
<meta name="twitter:image" content="https://unchartedpages.pythonanywhere.com/static/img/logo.png" />
{% endblock additional_header %}

{% block faq_active %}active{% endblock faq_active %}

{% block main_content %}
<!-- HERO SECTION START -->
<section id="add-margin" class="first-section">
    <div class="faq-section">
        <div class="faq-content">
            <div class="faq-container">
                <h2>You've got questions? <br> We've got answers!
                </h2>
                <p>Journey into the World of Literature with Confidence and Ease: Your Expertly Crafted Guide to Unlocking the Power of Reading and Answering All Your Burning Questions about Classic Works, Contemporary Gems, and Everything in Between.</p>
            </div>
        </div>
    </div>
    <div class="hero-particles" id="particles-js">
    </div>
</section>
<!-- HERO SECTION END -->

<!-- SECOND SECTION START  -->
<section class="featuring">
    <div class="services-container">
        <div class="service-boxes">
            <div class="box" data-aos="fade-up">
                <div class="service-img">
                    <div class="img">
                        <h2>1</h2>
                    </div>
                </div>
                <div class="service-desc">
                    <h3>How do I place an order for a book?</h3>
                    <p>To place an order for a book on Uncharted Pages, simply browse our selection of books and select the one you would like to purchase. Click on the "BUY NOW" button and fill the form. You will be asked to provide your information and a payment receipt of the online payment you made with the required amount to our account. Once your order has been processed, you will receive a confirmation email with the details of your purchase. And you will get your purchased E-Book and its audiobook within 24 hours of your order. If you encounter any issues while placing your order, please contact our customer service team for assistance.</p>
                </div>
            </div>
            <div class="box" data-aos="fade-up" data-aos-offset="200">
                <div class="service-img">
                    <div class="img">
                        <h2>2</h2>
                    </div>
                </div>
                <div class="service-desc">
                    <h3>What is your return policy?</h3>
                    <p>At Uncharted Pages, we strive to provide our valued customers with the best possible experience. We understand that sometimes, a book may not be exactly what you were looking for. However, as we specialize in digital books such as e-books and audiobooks, we regret to inform you that we do not offer a return policy at this time. We apologize for any inconvenience this may cause, and we are always happy to assist you in finding an alternative book that better suits your interests. </p>
                </div>
            </div>
            <div class="box" data-aos="fade-up">
                <div class="service-img">
                    <div class="img">
                        <h2>3</h2>
                    </div>
                </div>
                <div class="service-desc">
                    <h3>What types of digital books do you offer?</h3>
                    <p>We offer a diverse selection of digital books, including both e-books and audiobooks. Our carefully curated collection spans across various genres, from classic literature to contemporary gems. We prioritize books that offer unique perspectives, showcase diverse voices, and challenge readers to think critically and creatively. Whether you're in the mood for a heart-warming romance or a thought-provoking thriller, we have a book that will meet your needs.</p>
                </div>
            </div>
            <div class="box" data-aos="fade-up" data-aos-offset="200">
                <div class="service-img">
                    <div class="img">
                        <h2>4</h2>
                    </div>
                </div>
                <div class="service-desc">
                    <h3>What format are your digital books in?</h3>
                    <p>We offer our digital books in two popular formats: e-books in PDF format and audio books in MP3 format. These formats provide a seamless reading and listening experience, allowing our readers to enjoy their favorite books on any device, anytime, anywhere.</p>
                </div>
            </div>
            <div class="box" data-aos="fade-up">
                <div class="service-img">
                    <div class="img">
                        <h2>5</h2>
                    </div>
                </div>
                <div class="service-desc">
                    <h3>Can I read your digital books on any device?</h3>
                    <p>Yes, our digital books can be read on most devices such as smartphones, tablets, laptops, and e-readers. You can access and read our e-books using various e-book reading apps or software available for free online. Our audiobooks can be played on any device that supports mp3 files. So, no matter what device you prefer, you can enjoy our digital books on the go.</p>
                </div>
            </div>
            <div class="box" data-aos="fade-up" data-aos-offset="200">
                <div class="service-img">
                    <div class="img">
                        <h2>6</h2>
                    </div>
                </div>
                <div class="service-desc">
                    <h3>How do I access my purchased digital books?</h3>
                    <p>Upon purchasing a digital book from our store, you can easily access it through two ways. Firstly, we will send the purchased e-book and audio book to your registered email account within 24 hours of your order. Secondly, we will also share a secure drive link that contains the e-book and audio book for easy access. You can simply click on the drive link and access your purchased books from any device, anywhere and anytime. Rest assured, our team ensures that your digital books are delivered to you promptly and securely.</p>
                </div>
            </div>
            <div class="box" data-aos="fade-up" data-aos-offset="200">
                <div class="service-img">
                    <div class="img">
                        <h2>7</h2>
                    </div>
                </div>
                <div class="service-desc">
                    <h3>Do your digital books have any copy protection or DRM?</h3>
                    <p>At Uncharted Pages, we believe in offering our customers the freedom to enjoy their purchased digital books without any restrictions or limitations. Therefore, we do not use any copy protection or Digital Rights Management (DRM) on our digital books. This means that you can access and read your purchased books on any device or platform of your choice, without any restrictions. We want our customers to have the best possible reading experience and we believe that providing DRM-free digital books is the best way to achieve that.</p>
                </div>
            </div>
            <div class="box" data-aos="fade-up" data-aos-offset="200">
                <div class="service-img">
                    <div class="img">
                        <h2>8</h2>
                    </div>
                </div>
                <div class="service-desc">
                    <h3>Are there any limitations to accessing or downloading my purchased digital books?</h3>
                    <p>There are no limitations to accessing or downloading your purchased digital books. Once you have completed the purchase process, you will receive the e-book and audio book files, which you can access and download at any time. You can read the e-book on any device that supports PDF format, and listen to the audio book on any device that supports MP3 format. We want to ensure that our customers have the best possible experience with our platform, and this includes providing hassle-free access to the digital books they have purchased.</p>
                </div>
            </div>
            <div class="box" data-aos="fade-up" data-aos-offset="200">
                <div class="service-img">
                    <div class="img">
                        <h2>9</h2>
                    </div>
                </div>
                <div class="service-desc">
                    <h3>Can I gift a digital book to someone else?</h3>
                    <p>Absolutely! At Uncharted Pages, we offer the option to purchase digital books as a gift for someone special. This can be a perfect way to share the joy of reading with a friend, family member, or loved one. When you purchase a digital book as a gift, you will have the opportunity to enter the recipient's email address during checkout. Once the purchase is complete, the book will be delivered directly to their email inbox, allowing them to enjoy it at their leisure.</p>
                </div>
            </div>
            <div class="box" data-aos="fade-up" data-aos-offset="200">
                <div class="service-img">
                    <div class="img">
                        <h2>10</h2>
                    </div>
                </div>
                <div class="service-desc">
                    <h3>How do I troubleshoot technical issues with my digital books?</h3>
                    <p>If you encounter any technical issues with your digital books, please contact our customer service team as soon as possible. Our team is available to assist you with any problems you may have, and we will work with you to troubleshoot the issue and find a resolution. It's important to ensure that you have a stable internet connection and the appropriate software and hardware to access and download your digital books. If you are still experiencing issues after troubleshooting, our team will be happy to assist you further.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECOND SECTION END  -->

<!-- THIRD SECTION START  -->
<section class="faqs">
    <div class="faqs-wrapper">
        <div class="faqs-container">
            <div class="faq-left">
                <h3>Still have questions?</h3>
                <p>Can't find the answers you are looking for? Contact us here!</p>
            </div>
            <div class="faq-right">
                <a href="{% url 'contact' %}">
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Contact Us
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- THIRD SECTION END  -->
{% endblock main_content %}

{% block additional_js %}
{% endblock additional_js %}